body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

a[href$="org"]:hover


p {
    width: 90%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: azure;

}

.menu-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}

.menu-font2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 15px;
}

.header {
    position: relative;
    margin-left: 200px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    float: left;

}

.card {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 24%;
    height: 550px;
    float: left;
    background-color: rgb(58, 58, 58);
    border-radius: 25px;
}

.contentarea {
    width: 95%;
    background-color: blanchedalmond;
    margin: auto;
    align-content: center;
}

.etiket {
    width: 50px;
    height: 25px;
    background-color: black;
    color: azure;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;


}